@{ 
    var currentUser = TempData[StudentManagementSystem.Resources.TempDataValues.CurrentUser] as StudentManagementSystem.Models.UserModel;
    TempData.Keep(StudentManagementSystem.Resources.TempDataValues.CurrentUser);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dosch SMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (currentUser.Role == "admin")
                    {
                        <li>@Html.ActionLink("Add User", "AddUser", "Users")</li>
                        <li>@Html.ActionLink("Add Course", "AddCourse", "Courses")</li>
                    }
                    <li>@Html.ActionLink("Course Catalogue", "Catalogue", "Courses")</li>
                    @if (currentUser.Role == "student" || currentUser.Role == "instructor")
                    {
                        <li>@Html.ActionLink("My Courses", "MyCourses", "Courses")</li>
                    }
                </ul>

                <div class="navbar-current-user">
                    @Html.ActionLink("Your Account", "Profile", "Users") | 
                    @Html.ActionLink("Log Out", "Logout", "Login")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
